@mixin content {
    position: relative;
    margin: 0 auto;
    width: 70%;
    padding: 20px 0;
}

@mixin alerts($color, $backgroundColor) {
    padding: 5px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    border: 1px solid $color;
    color: $color;
    background-color: $backgroundColor;
}