.button {
    margin-bottom: 10px;

    button {
        background-color: #ccc;
        border-radius: 4px;
        padding: 10px;
        min-width: 150px;
        border: 1px solid #666;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.75rem;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #f1f1f1;
        }

        &:active {
            background-color: #ccc;
        }
    }
}